<!-- src/app/login/login.html -->
<div class="login-container">
  <!-- Seta de voltar (redireciona para /inicial via Router) -->
  <a class="seta-voltar" href="/inicial">←</a>

  <div class="login-box">
    <h1>LOGIN</h1>

    <form (ngSubmit)="fazerLogin()" #loginForm="ngForm">
      <!-- Input de nome de usuário -->
      <div class="form-group">
        <label for="nome_usuario">NOME DE USUÁRIO</label>
        <input
          type="text"
          id="nome_usuario"
          name="nome_usuario"
          [(ngModel)]="nome_usuario"
          required
          
          placeholder="Digite seu nome de usuário"
        />
        <div *ngIf="loginForm.controls['nome_usuario']?.invalid && loginForm.controls['nome_usuario']?.touched" class="erro-validacao">
          Nome de usuário deve ter pelo menos 3 caracteres.
        </div>
      </div>

      <!-- Input de senha -->
      <div class="form-group">
        <label for="senha">SENHA:</label>
        <input
          type="password"
          id="senha"
          name="senha"
          [(ngModel)]="senha"
          required
          
          placeholder="Digite sua senha"
        />
      </div>

      <!-- Botão de login -->
      <button 
        type="submit">
        CONFIRMAR
      </button>
    </form>

    <!-- Mensagem de erro ou sucesso -->
    <div *ngIf="mensagem" class="mensagem" [ngClass]="{'sucesso': mensagem.toLowerCase().includes('sucesso')}">
      {{ mensagem }}
    </div>
</div>
