.principal-container {
  background: linear-gradient(180deg, #e8ffb8, #b9ffa8);
  min-height: 100vh;
  padding: 20px;
  color: #0b2185;
  font-family: Arial, sans-serif;
  margin-top:80px ;
}

/* Dietas iniciais */
.dieta-container {
  text-align: center;
}

.dietas {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.dieta-card {
  background-color: #45d25c;
  border-radius: 15px;
  width: 180px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #0b2185;
  font-weight: bold;
  transition: 0.2s;
}

.dieta-card:hover {
  transform: scale(1.05);
  background-color: #5aed71;
}

.dieta-card img {
  width: 70px;
  margin-top: 10px;
}

/* Lista de alimentos */
.alimentos-container {
  padding: 20px 60px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lista {
  margin-top: 20px;
  justify-content: center;
  width: 50px;
  height: auto;
}

.alimento-item {
  display: flex;
  border-radius: 15px;
  background-color: #45d25c;
  align-items: center;
  gap: 10px;
  padding: 6px 0;
  cursor: pointer;
  font-weight: bold;
}

.alimento-item:hover {
  color: #45d25c;
}

/* Detalhe do alimento */
.detalhe-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.detalhe-card {
  background-color: #0b2185;
  color: white;
  border-radius: 12px;
  padding: 30px;
  width: 400px;
  text-align: center;
}

.detalhe-card img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
}

.voltar {
  background-color: #45d25c;
  color: #0b2185;
  border: none;
  padding: 8px 18px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 20px;
}

.voltar:hover {
  background-color: #5aed71;
}
.fotoalimento{
  width: 300px;
  height: 250px;
}
