<div class="principal-container">
  <app-navbar 
    [usuarioNome]="usuarioNome" 
    (sairEvent)="sair()"
    >
  </app-navbar>

  <!-- Tela de escolha de dieta -->
  <div *ngIf="!tipoDieta" class="dieta-container">
    <h1>ESCOLHA SUA DIETA</h1>
    <div class="dietas">
      <button class="dieta-card" (click)="mudarDieta('VEGANO')">🌿 VEGANO</button>
      <button class="dieta-card" (click)="mudarDieta('VEGETARIANO')">🥗 VEGETARIANO</button>
      <button class="dieta-card" (click)="mudarDieta('OVOLACTO')">🥚 OVOLACTOVEGETARIANO</button>
      <button class="dieta-card" (click)="mudarDieta('INTOLERANTE_LACTOSE')">🥛 INTOLERANTE À LACTOSE</button>
    </div>
  </div>

  <!-- Tela da dieta selecionada -->
  <div *ngIf="tipoDieta" class="alimentos-container">
    <div class="header">
      <h1>{{ tipoDieta.toUpperCase() }}</h1>
      <button class="voltar" (click)="voltar()">⬅ Voltar</button>
    </div>

    <div class="lista">
      <div class="alimento-item" *ngFor="let alimento of alimentosRecomendados">
        <img [src]="'http://localhost:3000/' + alimento.imagem" alt="{{ alimento.nome }}" class="fotoalimento"/>
        <span>{{ alimento.nome }}</span>
      </div>
    </div>
  </div>

  <!-- 🔍 Resultados da pesquisa -->
  <!--<div *ngIf="modoPesquisa" class="alimentos-container">
    <div class="header">
      <h1>RESULTADOS DA PESQUISA</h1>
      <button class="voltar" (click)="sairPesquisa()">⬅ Voltar</button>
    </div>

    <div class="lista">
      <div class="alimento-item" *ngFor="let alimento of resultadosPesquisa">
        <img [src]="'http://localhost:3000/' + alimento.imagem" alt="{{ alimento.nome }}" class="fotoalimento"/>
        <span>{{ alimento.nome }}</span>
      </div>
    </div>
  </div>-->
</div>
